
	body {
        background-color: #b7d1c4;
        border: width 80px;
        border-style:groove;
        border-color:black;
        }



header {

    border: solid;

}

main {

    border: solid;

}
