
	body {
        background-color: #b7d1c4;
        border: width 120px;
        border-style:solid;border-radius: 1ch;
        border-color:black;
        font: font-variant-numerics bold 24px/1 sans-serif;
        }



header {

    border: solid;

}

main {

    border: solid;

}
